<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="list">
    <thead>
      <div>
        <%= flight.title %> 
        <a href="/flights/<%= flight._id %>/edit">
          <button>Edit Flight</button>
        </a>
      </div>
      <section >
        <div >Airline: <%= flight.airline %></div>
        <div >Flight Number: <%= flight.flightNo %></div>
        <div >Departs: <%= flight.departs %></div>
        <div >Airport: <%= flight.airport %></div>
</section>
    </thead>
    </main> 
  </section>
  <% // new markup below %>
  <h2>Tickets</h2>
  <form 
    id="add-review-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label>Seat:
      <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    </label><br>
    <label>Price:
      <input type="text" name="price">
    </label><br>
      <button type="submit">Book Ticket</button>
    
  </form>

  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.createdAt.toLocaleDateString() %></td>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Ticket Yet</h3>
  <% } %>

  </tbody>
  

</main>








<%- include("../partials/footer") %>